//* FONTS
$somethingwildRegular: 'SomethingWild Regular';
$robotoItalic: 'Roboto Italic';
$robotoRegular: 'Roboto Regular';
$robotoBold: 'Roboto Bold';
$textShadow: 1px 1px 10px rgba(25, 25, 25, 0.75);
$boxShadow: 0 0 15px rgba(25, 25, 25, 0.25);

//* COLORS
$colorA: #390099;
$colorAA: rgba(57, 0, 153, 0.5);
$colorB: #9e0059;
$colorBB: rgba(158, 0, 89, 0.5);
$colorC: #ff0054;
$colorCC: rgba(255, 0, 84, 0.5);
$colorD: #ff5400;
$colorDD: rgba(255, 84, 0, 0.5);
$colorE: #ffbd00;
$colorEE: rgba(255, 189, 0, 0.5);
$colorF: #ffffff;
$colorG: #000000;
$colorH: #4d4c4c;
$colorI: #888888;

//* TRANSITION TIME
$transitionTime: all 0.3s;
